@font-face {
    font-family: 'TT Hoves Regular';
    src: url('../fonts/tt_hoves_pro/TT_Hoves_Regular.ttf');
  }
  
  @font-face {
    font-family: 'TT Hoves Medium';
    src: url('../fonts/tt_hoves_pro/TT\ Hoves\ Pro\ Trial\ Medium.ttf');
  }
  
  @font-face {
    font-family: 'TT Hoves Bold';
    src: url('../fonts/tt_hoves_pro/TT\ Hoves\ Pro\ Trial\ Bold.ttf');
  }
  
  @font-face {
    font-family: 'TT Hoves Medium Italic';
    src: url('../fonts/tt_hoves_pro/TT\ Hoves\ Pro\ Trial\ Medium\ Italic.ttf');
  }
  
  
  /* FONT */
  h1 {
    margin: 0;
    font-family: 'TT Hoves Medium';
  }
  
  h2 {
    margin: 0;
    font-family: 'TT Hoves Medium';
    font-size: 30px;
  }
  
  h3 {
    margin: 0;
    font-family: 'TT Hoves Medium';
    font-size: 24px;
  }
  
  h4 {
    margin: 0;
    font-family: 'TT Hoves Medium';
    font-size: 18px;
  }
  
  h5 {
    margin: 0;
    font-family: 'TT Hoves Medium';
    font-size: 16px;
  }
  
  h6 {
    margin: 0;
    font-family: 'TT Hoves Medium';
    font-size: 14px;
  }

.table {
    font-family: 'TT Hoves Medium';
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    text-indent: initial;
}

.table thead th {
    vertical-align: bottom;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
}
.table td {
  border-bottom: 2px solid #f1f1f1;
  opacity: 85%;
}

th {
    color: #A4A4A4;
    text-align: inherit;
    text-align: -webkit-match-parent;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}

.table-icon-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: baseline; /* Centers items horizontally within the container */
  gap: 20px; /* Adds space between the icons */
}

/* Table for Announcements */
/* .table-2{
  border: 2px solid black;
  border-radius: 5px !important;
} */
/* 
.table-2 thead th:first-child{
  border-radius: 10px 0 0 0;
}

.table-2 thead th:last-child{
  border-radius: 0 10px 0 0;
} */

/* .table-2 thead th {
  height: 40px;
  border-bottom: 2px solid black; 
}

.table-2 td{
  height: 50px;
  border-bottom: 2px solid black;
} */

.table-2 {
  width: 100%;
  border-spacing: 0; /* Remove gaps between cells */
  border: 2px solid #DCDBDB; /* Your table border */
  border-radius: 5px; /* Your desired border radius */
  margin-top: 10px;
  overflow: hidden; /* Clip content to the rounded border */
}

.table-2 thead th {
  height: 40px;
}

.table-2 td{
  height: 50px;
  border-top: 2px solid #DCDBDB; 
  border-bottom: none;
}